<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title data-ng-bind="title"></title>
    <style>
        div {
          border: 2px solid darkblue;
        }

        body[ng-cloak] {
            display:none;
        }

        .boxWithHeight {
          box-sizing: border-box;
          height: 100%;
        }

        footer {
            position: static;
            max-height: 64px;
            border-top: 1px solid blue;
        }

    </style>
</head>
<base href="~/App/src/" />
<body ng-app="myApp" ng-cloak layout="column">
    <app-layout flex layout="column">
    </app-layout>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="~/App/.tmp/index.js"></script>
        
    }else {
        <text>
            @Scripts.Render("~/Content/appJs")
        </text>
    }
</body>
</html>