<md-sidenav class="md-sidenav-left"
            md-component-id="navmenu"
            md-is-locked-open="$mdMedia('gt-md')"
            md-disable-backdrop
            md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content layout-padding>
        <section flex="40">
            <ul>
                <li>
                    <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li>
                    <a ui-sref="employees">My Employees</a>
                </li>
            </ul>
        </section>
        <section flex>
            {{ $ctrl.message }}
        </section>
        <sidenav-toggle componentid="'navmenu'">
            Close Sidenav left
        </sidenav-toggle>
        <p hide show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
        </p>
    </md-content>
</md-sidenav>